* {
  box-sizing: border-box;
}
:root {
  --primary--color: #171100;
  --background--color: #fffcf4;
  --white--color: #fff;
  --font-heading: "Sen", sans-serif;
  --text-color: #5f5b53;
}
html {
  font-size: 62.5%;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */
.content {
  width: 1170px;
  max-width: calc(100% - 135px);
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  min-width: 144px;
  padding: 12px 24px;
  background: var(--primary--color);
  border-radius: 999px;
  font-size: 1.4rem;
  text-align: center;
  color: var(--white--color);
}
.btn:hover {
  opacity: 0.8;
}
/* Header */
.fixed {
  padding-top: 25px;
  background: var(--background--color);
  position: sticky;
  top: -25px;
  z-index: 1;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 11px 0;
}
.navbar {
  margin-left: auto;
}
.navbar ul {
  display: flex;
}
.navbar ul a {
  position: relative;
  padding: 8px 21px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: var(--text-color);
}
.navbar ul a:hover {
  text-decoration: underline;
}
.navbar ul li:first-child a {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.75;
  color: var(--primary--color);
}
.navbar ul li:first-child a::after {
  position: absolute;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  bottom: 0;
  left: 22px;
  background: var(--primary--color);
  border-radius: 1px;
}
.header .action {
  margin-left: 49px;
}
.header .action-btn {
  padding: 11px 41px;
  font-size: 1.6rem;
}
/* Hero */
.hero {
  padding: 57px 0 65px;
  background-color: var(--background--color);
}
.hero .content .body {
  display: flex;
}
/* Hero left */
.hero .media-block {
  width: 48%;
  position: relative;
}
.hero .media-block .img {
  display: block;
  border-radius: 20px;
  width: 470px;
  height: 685px;
  object-fit: cover;
}
.hero .hero-summary {
  position: absolute;
  background-color: var(--white--color);
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  right: 0;
  bottom: 48px;
  width: 270px;
  padding: 24px 24px;
}
.hero-summary .item {
  display: flex;
  align-items: center;
}
.hero-summary .item + .item {
  margin-top: 22px;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-summary .info {
  margin-left: 16px;
}
.hero-summary .label {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  color: var(--text-color);
}
.hero-summary .title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: var(--primary--color);
}
/* Hero right */
.hero .content-block {
  width: 52%;
  padding: 64px 0 0 130px;
}
.content-block .heading {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--primary--color);
}
.content-block .desc {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: var(--text-color);
  margin-top: 22px;
}
.content-block .cta-group {
  display: flex;
  margin: 38px 0 48px;
}
.content-block .desc:nth-child(3) {
  margin-top: 8px;
}
.hero-cta {
  min-width: 180px;
  background: #ffb900;
  padding: 17px 34px;
}
.hero .watch-video {
  display: flex;
  border: none;
  background-color: var(--background--color);
  align-items: center;
  margin-left: 28px;
  cursor: pointer;
}
.hero .watch-video .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--white--color);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}
.hero .watch-video span {
  margin-left: 14px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: var(--primary--color);
}
.hero .stars {
  margin-top: 8px;
}
.hero .stars strong {
  padding-right: 8px;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.23;
  color: var(--primary--color);
}
.hero .stars strong:nth-child(2) {
  padding-left: 28px;
}
/* Popular */
.popular {
  padding: 65px 0;
  margin: 135px 0;
}
/* Popular top */
.popular-top {
  display: flex;
}
.popular-top .info .heading {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.26;
  letter-spacing: -0.02em;
  color: var(--primary--color);
}
.popular-top .info .desc {
  margin-top: 16px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: var(--text-color);
}
.popular-top .control {
  margin-top: 42px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popular-top .control-btn {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.popular-top .control-btn:nth-child(1) {
  border: 1px solid #ffb900;
  background-color: var(--white--color);
}
.popular-top .control-btn:nth-child(2) {
  background: #ffb900;
  margin-left: 31px;
  border: none;
}
