* {
  box-sizing: border-box;
}
:root {
  --primary--color: #171100;
  --background--color: #fffcf4;
  --white--color: #fff;
  --font-heading: "Sen", sans-serif;
  --text-color: #5f5b53;
}
html {
  font-size: 62.5%;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */
.content {
  width: 1170px;
  max-width: calc(100% - 135px);
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  min-width: 144px;
  padding: 12px 24px;
  background: var(--primary--color);
  border-radius: 999px;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  color: var(--white--color);
}
.btn:hover {
  opacity: 0.8;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp.line-2 {
  --line-clamp: 2;
}
.line-clamp.line-3 {
  --line-clamp: 3;
}
.break-all {
  word-break: break-all;
}
/* Header */
.fixed {
  padding-top: 25px;
  background: var(--background--color);
  position: sticky;
  top: -25px;
  z-index: 1;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 11px 0;
}
.navbar {
  margin-left: auto;
}
.navbar ul {
  display: flex;
}
.navbar ul a {
  position: relative;
  padding: 8px 21px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: var(--text-color);
}
.navbar ul a:hover {
  text-decoration: underline;
}
.navbar ul li:first-child a {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.75;
  color: var(--primary--color);
}
.navbar ul li:first-child a::after {
  position: absolute;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  bottom: 0;
  left: 22px;
  background: var(--primary--color);
  border-radius: 1px;
}
.header .action {
  margin-left: 49px;
}
.header .action-btn {
  padding: 11px 41px;
  font-size: 1.6rem;
}
/* Hero */
.hero {
  padding: 57px 0 65px;
  background-color: var(--background--color);
}
.hero .content .body {
  display: flex;
}
/* Hero left */
.hero .media-block {
  width: 48%;
  position: relative;
}
.hero .media-block .img {
  display: block;
  border-radius: 20px;
  width: 470px;
  height: 685px;
  object-fit: cover;
}
.hero .hero-summary {
  position: absolute;
  background-color: var(--white--color);
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  right: 0;
  bottom: 48px;
  width: 270px;
  padding: 24px 24px;
}
.hero-summary .item {
  display: flex;
  align-items: center;
}
.hero-summary .item + .item {
  margin-top: 22px;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-summary .info {
  margin-left: 16px;
}
.hero-summary .label {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  color: var(--text-color);
}
.hero-summary .title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: var(--primary--color);
}
/* Hero right */
.hero .content-block {
  width: 52%;
  padding: 64px 0 0 130px;
}
.content-block .heading {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--primary--color);
}
.content-block .desc {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: var(--text-color);
  margin-top: 22px;
}
.content-block .cta-group {
  display: flex;
  margin: 38px 0 48px;
}
.content-block .desc:nth-child(3) {
  margin-top: 8px;
}
.hero-cta {
  min-width: 180px;
  background: #ffb900;
  padding: 17px 34px;
}
.hero .watch-video {
  display: flex;
  border: none;
  background-color: var(--background--color);
  align-items: center;
  margin-left: 28px;
  cursor: pointer;
}
.hero .watch-video .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--white--color);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}
.hero .watch-video span {
  margin-left: 14px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: var(--primary--color);
}
.hero .stars {
  margin-top: 8px;
}
.hero .stars strong {
  padding-right: 8px;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.23;
  color: var(--primary--color);
}
.hero .stars strong:nth-child(2) {
  padding-left: 28px;
}
/* Popular */
.popular {
  padding: 65px 0;
  margin: 135px 0;
}
/* Popular top */
.popular-top {
  display: flex;
}
.popular-top .info .heading {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.26;
  letter-spacing: -0.02em;
  color: var(--primary--color);
}
.popular-top .info .desc {
  margin-top: 16px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: var(--text-color);
}
.popular-top .control {
  margin-top: 42px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popular-top .control-btn {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #ffb900;
  color: #ffb900;
}
.popular-top .control-btn:nth-child(2) {
  margin-left: 31px;
}
.popular-top .control-btn:hover {
  background: #ffb900;
  cursor: pointer;
  color: var(--white--color);
}
/* Courses */
.courses-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}
.courses-item {
  flex: 1;
  background: var(--white--color);
  border: 1px solid #e2dfda;
  border-radius: 12px;
}
.courses-item:hover {
  border-color: transparent;
  box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}
.courses-item .body {
  padding: 16px 22px 22px;
}

.courses-item .thumb {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: calc(100% + 2px);
  height: 278px;
  margin: -1px;
  object-fit: cover;
}
.courses-item .head {
  display: flex;
}
.courses-item .head .title a {
  padding-right: 6px;
  font-weight: 600;
  font-size: 1.8;
  line-height: 1.67;
  color: var(--primary--color);
}
.courses-item .raiting {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.courses-item .raiting .star {
  width: 18px;
  height: 18px;
}
.courses-item .raiting .value {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #fea31b;
  margin-left: 6px;
}
.courses-item .desc {
  margin-top: 6px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.88;
  color: var(--text-color);
}
.courses-item .info {
  display: flex;
  margin-top: 12px;
  align-items: center;
}
.courses-item .info .label {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: var(--primary--color);
}
.courses-item .courses-cta {
  padding: 12px 24px;
  min-width: 118px;
  margin-left: auto;
  border: none;
}
.courses-item .courses-cta:hover {
  background: #ffb900;
  cursor: pointer;
}
/* Feedback */
.feedback {
  padding: 96px 0;
  background: #2e2100;
}
.feedback-list {
  display: flex;
  overflow: hidden;
}
.feedback-item {
  display: flex;
  width: 100%;
  flex-shrink: 0;
  /* transform: translateX(-100%);
  transition: all ease 0.3s; */
}
.feedback-item .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback-item .title {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.42;
  color: #f7f7f7;
}
.feedback-item .desc {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #bfbcb3;
}
.feedback-item .dots {
  margin-top: 28px;
  display: flex;
}
.feedback-item .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
  margin-right: 6px;
  cursor: pointer;
}
.feedback-item .dot.active {
  background: #ffb900;
  cursor: default;
}
.feedback-item .feedback-content {
  width: 66%;
  margin-left: auto;
}
blockquote {
  margin-left: 35px;
  font-style: italic;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 1.54;
  color: var(--white--color);
}
